<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>TopicLive</title>

        <link rel="stylesheet" href="static/public/css/_reset.css" />
        <link rel="stylesheet" href="static/public/css/main.css" />

        <script src="static/public/js/ajax.js" defer></script>
        <script src="static/public/js/app.js" defer></script>
    </head>
    <body>

        <header id="headerBar">
            <div class="container">
                <div class="logo">
                    <a href="#">Topic <span class="green">LIVE</span></a>
                </div>
                <div class="search">
                    <input type="text" name="topaxURL" id="topaxURL" placeholder="Ex : https://www.jeuxvideo.com/forums/42-51-63346087-1-0-1-0-regles-du-forum.htm" /><button id="sendURL">GO</button> 
                </div>
            </div>
        </header>

        <main id="wrapper">
            <div id="posts" class="container">

            </div>
        </main>

    </body>
</html>
